<html>
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <title>Nom de l'app</title>

    <link href="../resources/css/main.css" rel="stylesheet">
    <script src="../resources/js/main.js"></script>
</head>
<body>
<div class="pages-list">
    <iframe active class="page" id="index_language" src="index_languages.html"></iframe>
    <iframe class="page" id="index_students" src="index_students.html"></iframe>
    <iframe class="page" id="add_students" src="add_students.html"></iframe>
    <iframe class="page" id="choose_gender" src="choose_gender.html"></iframe>
    <iframe class="page" id="choose_theme" src="choose_theme.html"></iframe>
    <iframe class="page" id="translation" src="translation.html"></iframe>
    <iframe class="page" id="choose_picto" src="choose_picto.html"></iframe>
</div>
</body>
</html>