<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="user-scalable=no, max-scale=1.0" name="viewport">
    <title>Index</title>

    <link href="../resources/css/global.css" rel="stylesheet">
    <link href="../resources/css/tutorial.css" rel="stylesheet">

    <script src="../resources/js/tutorials.js"></script>
    <script src="../resources/js/choose_gender.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/56ede3712c.js"></script>
</head>
<body>
<div class="tutorial"></div>
<div class="taskbar">
    <div class="taskbar-icon">
        <a href="./index.html#language"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="taskbar-name">
        Fran&ccedil;ais
        <i class="taskbar-chevron fas fa-chevron-right"></i>
        <span class="taskbar-current-language"></span>
    </div>
</div>
<div class="content">
    <div class="header">Sexe de l'&eacute;l&egrave;ve</div>
    <div class="list scrollable-list">
        <div class="box" data-gender="M">
            <div class="box-icon-holder">
                <div class="box-icon box-M">
                    <div class="box-icon-content" style="font-size:24em;">M</div>
                </div>
            </div>
            <div class="box-name">
                Masculin
            </div>
        </div>
        <div class="box" data-gender="F">
            <div class="box-icon-holder">
                <div class="box-icon box-F">
                    <div class="box-icon-content" style="font-size:24em;">F</div>
                </div>
            </div>
            <div class="box-name">
                F&eacute;minin
            </div>
        </div>
    </div>
    <div class="padder" style="height: 150px;"></div>
</div>
<div class="footer">
    <div class="floating-footer-border">
        <div class="floating-footer">
            <div active class="footer-button footer-language-button">
                <a href="./index.html#language">Language</a>
            </div>
            <div class="footer-main-border">
                <div class="footer-main">
                    <div class="footer-main-button">
                        <a href="./index.html#language"><i class="fa fa-solid fa-home"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-button footer-students-button">
                <a href="./index.html#students">&Eacute;l&egrave;ves</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>