<!DOCTYPE html>
<!--suppress CssUnknownTarget -->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="user-scalable=no, max-scale=1.0" name="viewport">
    <title>Index</title>

    <link href="../resources/css/global.css" rel="stylesheet">
    <link href="../resources/css/index.css" rel="stylesheet">
    <script src="../resources/js/anims_base.js"></script>
    <script src="../resources/js/index.js"></script>
    <script src="../resources/js/anims.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/56ede3712c.js"></script>
</head>
<body>
<div class="taskbar">
    <div class="taskbar-icon hidden">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="taskbar-name">
        Nom de l'app, encore inconnu
    </div>
</div>
<div class="content">
    <div class="content-page" id="content-language" style="left:0;">
        <div class="header">Langues</div>
        <div class="list language-list">
            <div class="box" data-lang="DE">
                <div class="box-icon-holder">
                    <div class="box-icon" style="background-image: url('../resources/image/flag_de.png')">
                    </div>
                </div>
                <div class="box-name">
                    Allemand
                </div>
            </div>
        </div>
    </div>
    <div class="content-page" id="content-students">
        <div class="header">&Eacute;l&egrave;ves</div>
        <div id="students-list" class="list"></div>
        <div class="add-button-border">
            <div class="add-button">
                <a href="#add-students"><i class="fa fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="padder" style="height: 200px;"></div>
    </div>
    <div class="content-page" id="content-add-students"
         style="clip-path: circle(0% at calc(75% + 80px) calc(100% - 80px)); background: #D9D9D9; left: 0;">
        <div class="header">Ajouter un &eacute;l&egrave;ve</div>
        <div class="list">
            <div class="box">
                <div class="box-icon-holder">
                    <div class="box-icon box-M">
                        <div class="box-icon-content" style="font-size:24em;"></div>
                    </div>
                </div>
                <div class="box-name"></div>
            </div>
            <form action="/api/students" autocomplete="off" class="input-forms-container" method="post">
                <div class="input-form" data-placeholder="nom" id="f0">
                    <input class="input-form-input" name="name" required type="text"/>
                    <div class="if-selected-bborder"></div>
                </div>
                <div class="input-form" data-placeholder="genre" id="f1">
                    <input class="input-form-input" name="gender" readonly required type="text"/>
                    <div class="form-options">
                        <div class="input-option">Masculin</div>
                        <div class="input-option">F&eacute;minin</div>
                    </div>
                    <i class="input-marker fa fa-solid fa-chevron-up"></i>
                    <div class="if-selected-bborder"></div>
                </div>
                <div class="input-form" data-placeholder="langues" id="f2">
                    <input class="input-form-input" name="language" readonly required type="text"/>
                    <div class="form-options">
                        <div class="input-option">Allemand</div>
                    </div>
                    <i class="input-marker fa fa-solid fa-chevron-up"></i>
                    <div class="if-selected-bborder"></div>
                </div>
                <div class="add-button-border">
                    <div class="add-button add-student-button"><i aria-hidden="true" class="fa fa-solid fa-plus"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="padder" style="height: 200px;"></div>
    </div>
</div>
<div class="footer">
    <div class="floating-footer-border">
        <div class="floating-footer">
            <div active class="footer-button footer-left-button">
                <a href="#language">Langues</a></div>
            <div class="footer-main-border">
                <div class="footer-main">
                    <div class="footer-main-button">
                        <a href="#language"><i class="fa fa-solid fa-home"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-button footer-right-button"><a href="#students">&Eacute;l&egrave;ves</a>
            </div>
            <svg class="footer-svg">
                <path d="" fill="transparent" id="path-1" stroke="#464E3E" stroke-width="12px"/>
                <path d="" fill="transparent" id="path-2" stroke="#464E3E" stroke-width="12px"/>
            </svg>
        </div>
    </div>
</div>
</body>
</html>