/* BEGIN */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

div, body {
    display: flex;
    font-family: Calibri, system-ui;
    letter-spacing: -1px;
}

body {
    color: #1D1D1D;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

/* MAIN LAYOUT */

.taskbar {
    width: 100%;
    height: 200px;

    align-items: flex-end;
}

.content, .content-page {
    width: 100%;
    height: calc(100% - 450px);
    flex-grow: 15;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 250px;
    flex-grow: 2;
}


/* TASKBAR */

.taskbar {
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, #C7F1AC, #D9D9D9);
}

.taskbar::after {
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #37D63D, #666666);
}

.taskbar-name, .taskbar-icon {
    font-size: 4em;
    font-weight: bold;
    margin-left: 5%;

    align-items: center;

    transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.taskbar-icon.hidden {
    width: 0;
    margin: 0;
    overflow: hidden;
}

.taskbar-icon {
    color: #454E3F;
}

.taskbar-chevron {
    height: min-content;

    font-size: 0.8em;
    text-align: center;
    margin: 0 20px;
}


/* CONTENT */

.content, .content-page {
    position: relative;
}

.header {
    align-items: flex-end;

    width: 100%;
    height: min-content;
    padding-left: 6.5%;
    margin-top: 5%;

    font-size: 7em;
    font-weight: bolder;
}

.list {
    flex-direction: column;
    flex-grow: 20;
    padding-top: 50px;

    align-items: center;
    gap: 5%;

    overflow: scroll;
}

.box {
    width: 70vw;
    min-height: 70vw;

    background: #CEE7CD;
    border-radius: 20px;
    box-shadow: 10px 10px 9px #0000004f;

    flex-direction: column;
}

.box-icon-holder {
    flex-grow: 10;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.box-icon {
    border-radius: 50%;

    height: 100%;
    aspect-ratio: 1/1;

    background-size: cover;

    align-items: center;
    justify-content: center;
}

.box-icon-content {
    font-family: monospace;
    font-weight: bolder;
    color: white;
    letter-spacing: -0.25px;
}

.box-name {
    flex-grow: 1;
    font-size: 5em;
    font-weight: bolder;

    align-items: flex-start;
    justify-content: center;
}

.box-M {
    background: #79a9c1;
}

.box-F {
    background: #bb72a2;
}

/* FOOTER */

.footer {
    align-items: flex-start;
    justify-content: center;
}

.floating-footer-border {
    position: fixed;
    bottom: 60px;

    width: 95%;
    height: 130px;

    background: linear-gradient(90deg, #23C350, #666666);
    border-radius: 30px;

    justify-content: center;
    align-items: center;
}

.floating-footer {
    position: relative;

    width: calc(100% - 8px);
    height: 122px;

    border-radius: 25px;

    background: #D9D9D9;

    justify-content: space-evenly;
    align-items: center;

    box-shadow: 0 10px 9px #0000004f;
}

.footer-button {
    font-size: 3.5em;
    font-weight: bolder;

    color: #504747;
}

.footer {
    color: #504747;
    text-decoration: none;
}

.footer-main-border {
    margin-right: 25px; /* Fix weird non centered-alignment */

    width: 190px;
    height: 190px;

    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #23C350, #666666);
    border-radius: 50%;
}

.footer-main {
    position: absolute;

    background: #D9D9D9;
    width: 178px;
    height: 178px;
    border-radius: 50%;
}

.footer-main-button {
    width: 100%;
    height: 100%;

    font-size: 6em;
    color: #454E3F;

    align-items: center;
    justify-content: center;

    padding-bottom: 15px;
}


.footer-svg {
    position: absolute;
    width: 100%;
    height: 200%;

    pointer-events: none;
}

.footer-svg #path-2 {
    stroke-dasharray: 0 360;
}


.add-button-border {
    position: absolute;
    bottom: 150px;
    left: 75%;

    width: 160px;
    aspect-ratio: 1;

    background: linear-gradient(135deg, #23C350, #666666);
    border-radius: 50%;

    justify-content: center;
    align-items: center;
}


.add-button {
    position: relative;
    width: calc(100% - 16px);
    aspect-ratio: 1;

    border-radius: 50%;

    background: #D9D9D9;

    font-size: 6em;
    font-weight: bolder;
    color: #454E3F;

    align-items: center;
    justify-content: center;
}

.add-button {
    color: #454E3F;
    text-decoration: none;
}

/* PAGES */

.content-page {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -150%;
}

.content-page[active] {
    left: 0;
}
